<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="manage-inventory" path="/manage-inventory" reloadable="true">
	<Resource auth="Container" driverClassName="org.postgresql.Driver"
		maxActive="20" maxIdle="10" maxWait="-1" name="jdbc/manage-inventory"
		password="${manage-inventory.password}" removeAbandoned="true" testWhileIdle="true"
		timeBetweenEvictionRunsMillis="60000" type="javax.sql.DataSource"
		url="${manage-inventory.url}"
		username="${manage-inventory.username}" validationQuery="select version()" />

</Context>
