 body {
    padding-top: 60px;
  }

#application_logo {
	margin-top: 50px;
}

table {
	width: 100%;
}

table.dataTable {
	margin-bottom: 0px;
}

div.dataTables_wrapper {
	margin-top: 10px;
}


/*
 * Responsive stypes
 */
@media (max-width: 980px) {

  body > .container {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }

} /* END: @media (max-width: 980px) */